<div class="container">
  <h1>Award Winners</h1>

  <div class="container">
    <ul class="list-group list-group-flush text-center book-list">
      <% @award_winner_books.each do |award_winner_book| %>
        <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to award_winner_book.title, award_winner_book %></span></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="text-center"><%= link_to 'Add an Award Winner Review', new_award_winner_book_path, class:'btn btn-primary' %></div>
</div>