<div class="container">
    <div class="container form-section">
        <h1 class="text-center">Add an Award Winner Book</h1>

        <%= render 'form', award_winner_book: @award_winner_book %>

        <%= link_to 'Cancel', award_winner_books_path, class:'btn btn-secondary' %>
    </div>
</div>
