<h1>Editing Poetry Anthology Book</h1>

<%= render 'form', poetry_anthology_book: @poetry_anthology_book %>

<%= link_to 'Show', @poetry_anthology_book %> |
<%= link_to 'Back', poetry_anthology_books_path %>
