<h1 class="text-center">Poetry Anthology Books</h1>

<div class="container">
    <ul class="list-group list-group-flush text-center book-list">
      <% @poetry_anthology_books.each do |poetry_anthology_book| %>
        <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to poetry_anthology_book.title, poetry_anthology_book %></span></li>
      <% end %>
    </ul>
</div>

<hr>

<div class="text-center"><%= link_to 'New Poetry Anthology Book', new_poetry_anthology_book_path, class:'btn btn-primary' %></div>
