<h1>Mystery Books</h1>
      
<div class="container">
  <ul class="list-group list-group-horizontal">  
    <% @mystery_books.each do |mystery_book| %>
      <li class="list-group-item"><%= link_to mystery_book.title, mystery_book %></li>
    <% end %>
  </ul>
</div>


<br>

<%= link_to 'Add Mystery Book', new_mystery_book_path, class:'btn btn-primary' %>
