<h1 class="text-center">Mystery</h1>
      
<div class="container">
  <ul class="list-group list-group-flush text-center book-list">  
    <% @mystery_books.each do |mystery_book| %>
      <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to mystery_book.title, mystery_book %></span></li>
    <% end %>
  </ul>
</div>

<hr>

<div class="text-center"><%= link_to 'Add a Mystery Review', new_mystery_book_path, class:'btn btn-primary' %></div>
