<div class="container">

  <h1 class="text-center">Nonfiction Informational</h1>

  <div class="container">
    <ul class="list-group list-group-flush text-center book-list">  
      <% @informational_books.each do |informational_book| %>
        <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to informational_book.title, informational_book %></span></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="text-center"><%= link_to 'Add a Nonfiction Informational Review', new_informational_book_path, class:'btn btn-primary' %></div>

</div>
