<div class="container">

  <h1 class="text-center">Nonfiction Informational</h1>

  <div class="text-center">
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
        What's a Nonfiction Informational Book?
      </button>
  </div>

<hr>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Text that provides true facts about a topic</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <ul class="list-group list-group-flush text-center book-list">  
      <% @informational_books.each do |informational_book| %>
        <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to informational_book.title, informational_book %></span></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="text-center"><%= link_to 'Add a Nonfiction Informational Review', new_informational_book_path, class:'btn btn-primary' %></div>

</div>
