<h1>Biography Books</h1>

<div class="container">
    <ul class="list-group list-group-horizontal">
      <% @biography_books.each do |biography_book| %>
        <li class="list-group-item"><%= link_to biography_book.title, biography_book %></li>
      <% end %>
    </ul>
</div>

<br>

<%= link_to 'New Biography Book', new_biography_book_path, class:'btn btn-primary' %>
