<div class="container">
    <div class="container form-section">

        <h1 class='text-center'>Adding Biography Review</h1>

        <%= render 'form', biography_book: @biography_book %>

        <%= link_to 'Cancel', biography_books_path, class:'btn btn-secondary' %>
    
    </div>
</div>
