<div class="container">
  <h1 class="text-center">Fantasy</h1>

  <div class="container">
    <ul class="list-group list-group-flush text-center book-list">
        <% @fantasy_books.each do |fantasy_book| %>
          <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to fantasy_book.title, fantasy_book %></span></li>
        <% end %>
    </ul>
  </div>

  <hr>

  <div class="text-center"><%= link_to 'Add a Fantasy Review', new_fantasy_book_path, class:'btn btn-primary', class:'btn btn-primary' %></div>
</div>
