<h1>Fantasy Books</h1>

<div class="container">
<ul class="list-group list-group-horizontal">
    <% @fantasy_books.each do |fantasy_book| %>
      <li class="list-group-item"><%= link_to fantasy_book.title, fantasy_book %></li>
    <% end %>
</ul>
</div>

<br>

<%= link_to 'New Fantasy Book', new_fantasy_book_path, class:'btn btn-primary' %>
