<h1>Books</h1>

<%= link_to "Traditional Literature", traditional_literature_books_path, class:"btn btn-primary" %>

<%= link_to "Realistic Fiction", realistic_fiction_books_path, class:"btn btn-primary" %>

<%= link_to "Historical Fiction", historical_fiction_books_path, class:"btn btn-primary" %>

<%= link_to "Fantasy", fantasy_books_path, class:"btn btn-primary" %>