<div class="landing-header p-3">
    <div class="header-text p-3">
        <h1 class="text-center">Welcome to the 40 Book Challenge</h1>
        <h5 class="text-center">A Place to Track Your Reading Journey</h5>
    </div>
</div>


<footer class="text-center">
    <h3>Coded by L. Evan Barnes</h3>
    <h4>Images courtesy of <a href="https://pixabay.com/" target="_blank">Pixabay</a>
</footer>