<div class="container">
    <div class="container form-section">
        <h1 class="text-center">Editing Traditional Literature Book</h1>

        <%= render 'form', traditional_literature_book: @traditional_literature_book %>

        <%= link_to 'Cancel', @traditional_literature_book, class:'btn btn-secondary' %> 
    </div>
</div>