<div class="container">
  <h1 class="text-center">Traditional Literature</h1>

  <div class="text-center">
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">Traditional Literature Help Sheet</button>
  </div>

  <hr>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h6>Fairy Tale</h6>
          <ul>
            <li>Includes magic, magical creatures, or magical lands</li>
            <li>Characters often are royalty (king, queen, etc.) or animals</li>
            <li>Castles and forests are common settings</li>
            <li>Good vs. evil</li>
          </ul>
          <h6>Folktale</h6>
          <ul>
            <li>Passed on through oral storytelling</li>
            <li>Anonymous (author unknown)</li>
            <li>Found in all cultures</li>
            <li>"Timeless" and "placeless" stories</li>
          </ul>
          <h6>Myth</h6>
            <ul>
              <li>Explains things that happen in nature</li>
              <li>Usually has gods and goddesses as characters</li>
              <li>Often includes magic and unusual creatures</li>
              <li>May teach a lesson</li>
            </ul>
          <h6>Tall Tale</h6>
          <ul>
            <li>Features everyday people with superhuman abilities</li>
            <li>Exaggerated details</li>
            <li>Usually based on a real person or event</li>
            <li>Problems solved in a humorous way</li>
          </ul>
          <h6>Fable</h6>
          <ul>
            <li>Teaches a lesson called a <i>moral</i></li>
            <li>Characters often are animals acting like people</li>
            <li>Generally set outside somewhere</li>
          </ul>
          <h6>Legend</h6>
          <ul>
            <li>Linked to a person or event from history</li>
            <li>Explains why or how something in nature came to be</li>
            <li>Characters often are everyday people or animals</li>
            <li>May include magic</li>
            <li>May teach a lesson</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="container">
      <ul class="list-group list-group-flush text-center book-list">
        <% @traditional_literature_books.each do |traditional_literature_book| %>
          <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to traditional_literature_book.title, traditional_literature_book %></span></li>
        <% end %>
      </ul>
    </div>

  <hr>

  <div class="text-center"><%= link_to 'Add a Traditional Literature Review', new_traditional_literature_book_path, class:"btn btn-primary" %></div>

</div>