<h1>Add a Traditional Literature Book</h1>

<%= render 'form', traditional_literature_book: @traditional_literature_book %>

<%= link_to 'Back', traditional_literature_books_path, class:'btn btn-secondary' %>
