<div class="container">
    <div class="container form-section">
        <h1 class="text-center">Add a Traditional Literature Book</h1>

        <%= render 'form', traditional_literature_book: @traditional_literature_book %>

        <%= link_to 'Cancel', traditional_literature_books_path, class:'btn btn-secondary' %>
    </div>
</div>