<h1>Editing Historical Fiction Book</h1>

<%= render 'form', historical_fiction_book: @historical_fiction_book %>

<%= link_to 'Show', @historical_fiction_book %> |
<%= link_to 'Back', historical_fiction_books_path %>
