<div class="container">

  <h1 class="text-center">Historical Fiction</h1>

  <div class="container">
      <ul class="list-group list-group-flush text-center book-list">
          <% @historical_fiction_books.each do |historical_fiction_book| %>
          <li class="list-group-item"><span class="btn btn-outline-success"><%= link_to historical_fiction_book.title, historical_fiction_book %></span></li>
        <% end %>
      </ul>
  </div>

  <hr>

  <div class="text-center"><%= link_to 'Add a Historical Fiction Review', new_historical_fiction_book_path, class:"btn btn-primary" %></div>
</div>