* {
  box-sizing: border-box;
}

.form-section {
  border: 5px groove #2eb82e;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

.genre-list {
  width: 60%;
  margin: auto;
}

.genre-list a {
  text-decoration: none;
  color: black;
}

.genre-list a:hover {
  color: blue;
}
