* {
  box-sizing: border-box;
}

.navbar-nav {
  margin-left: auto;
  text-align: right;
}

.form-section {
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 2rem;
  width: 80%;
}

.book-review {
  margin-top: 2rem;
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  width: 80%;
}

.genre-list,
.book-list {
  width: 50%;
  margin: auto;
}

.genre-list a,
.book-list a {
  text-decoration: none;
  color: black;
}

.pick-ltrs {
  font-size: 3rem;
  font-weight: bold;
}

.fingers {
  width: 60px;
  height: 75px;
}
